.pet-btn {
  color: white !important;
  margin: 10px;
}

.pet-photo {
  margin: 10px;
}

.page {
  margin-top: 30px;
}

.map {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.pet-photo {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


.pet-name{
  font-size: 24px;
  text-align: center;
  margin:15px;
}


.pet-container{
  margin: 15px;
  border: solid 1px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.container-photo{
  margin: 15px;
  flex-direction: column;
  justify-content: center;
}

.pet-details{
  padding:15px;
}

.title {
  margin-top: 20px;
}

#new-pet {
  margin-left: 15px;
  color: white !important;
}

.attributes {
  margin-left: 60px;
  margin-right: 60px;
}
