.pet-btn {
  color: white !important;
  margin: 10px;
}

.pet-photo {
  margin: 10px;

  img{
    width: 100%;
  }
}

.page {
  margin-top: 30px;
}

.map {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}

.mapboxgl-canvas {
  position: relative !important;
}

.pet-photo {
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}


.pet-name{
  font-size: 24px;
  text-align: center;
  margin:15px;
}


.pet-container{
  // border: solid 1px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #fff;

  ul{
    padding-left: 0;
  }
}

#my-pet-shelter{
  flex-direction: row;
  justify-content: space-evenly;
}

.container-photo{
  margin: 15px;
  flex-direction: column;
  justify-content: center;
}

.pet-details{
  padding:15px;
}

.title {
  margin-top: 20px;
}

#new-pet {
  margin-left: 15px;
  color: white !important;
}

.attributes {
  margin-left: 60px;
  margin-right: 60px;
}

.section {
  font-size: 20px;
  margin-left: 15px;
  padding: 15px;
  text-align: center;

}

// .page {
//   background-color: #efefef;
// }
