.pet-btn{
  color:white !important;
}


#btn-text-color{
  color:white !important;
}



.link_text{
  color: white;
  a{
    text-decoration: none;
  }
}


#link_text{
  color: white;
  a{
    text-decoration: none;
  }
}

.btn-info{
  color:white;
}


.btn{
  a{
    &:hover{
      color: black;
      text-decoration: none;
    }
  }
}
