.no-bullets{
  text-transform: capitalize;
  list-style-type: none;
}


.pet-name{
  font-size: 24px;
  text-align: center;
}


.pet-container{
  margin: 15px;
  padding: 15px;
  border: solid 1px rgba(0,0,0,0.2);
}


.pet-photo{
  padding: 15px;
}
