.navbar-lewagon {
  justify-content: space-between;
  background: white;

  // Change the color to the light blue, make the text white and create a very light border on the bottom
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
