.navbar-lewagon {
  justify-content: space-between;
  background: #b7dcf4;
  border-bottom: solid 1px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav-link{
    color: white !important;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  a {
   display: inline;
   color: white;
   margin-right: 20px; &:hover {
   color: gray;
   transition-delay: 30ms;
   text-decoration: none;
}
   }

}


  // Change the color to the light blue, make the text white and create a very light border on the botto

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.nav-item-active{
justify-content: space-between;
display: flex;
align-items: center;
margin:20px;
}


/* Right section */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white !important;
  text-decoration: none;
}


.dropdown-menu{
  background: #b7dcf4;
}
